ion-header {
  // --ion-background-color: #f2edf2;
  --ion-background-color: #711bd4;

  ion-back-button {
    --color: #ffffff;
  }
}

ion-content {
  --ion-background-color: #ffffff;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
}

.upper {
  background-color: #711bd4;
  height: 180px;
  padding-top: 10px;

  h1 {
    border-left: 5px solid #ffffff;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
  }
}

.form {
  ion-row {
    margin-top: 10px;
  }

  div {
    border: 1px solid #000000;
    border-top: none;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

  ion-col {
    ion-icon {
      font-size: 30px;
      color: #f2edf2;
      margin: 10px;
    }

    ion-item {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    ion-label {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 18px;
      padding-bottom: 10px;
    }
  }

  ion-col[size="2"] {
    background: #711bd4;
  }

  ion-col[size="10"] {
    background: #f8f7ff;
    h3 {
      padding-left: 10px;
      color: #711bd4;
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  ion-button {
    --border-radius: 5px;
    --background: #711bd4;
    // height: 50px;
    font-size: 15px;
    margin: 30px -50px;
    position: relative;
    font-weight: 600;
    top: 50%;
    left: 50%;
  }
}
