<ion-header [translucent]="true" [hidden]="scanActive" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Scan </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive?'#00000000':'#ffffff'"
>
  <div class="scan" [hidden]="!show || scanActive || data">
    <img src="assets/imgs/qr-code.jfif" />
  </div>
  <ion-button
    class="ion-padding scan-button"
    expand="full"
    (click)="startScanner()"
    [hidden]="scanActive"
  >
    SCAN
  </ion-button>
  <p class="ion-text-center" *ngIf="data && !scanActive">{{data}}</p>
  <ion-row class="stop-button ion-text-center" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>
