h3 {
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

p {
  // font-weight: bold;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

ion-button {
  --border-radius: 5px;
  height: 45px;
  width: 100%;
  --background: #711bd4;
  font-size: 15px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.auth-image {
  width: 85%;
  padding: 0px 28px;
  object-fit: contain;
}
ion-header {
  --ion-background-color: #711bd4;

  ion-back-button {
    --color: #ffffff !important;
  }
}

ion-content {
  --ion-background-color: #fefefe;
}
