<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img src="assets/imgs/reset.jfif" class="auth-image" />
    <h3>Forgot Password?</h3>
    <p>
      please enter your email address to <br />
      recieve a password reset code
    </p>
    <form class="ion-padding" [formGroup]="signupForm">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              required
              #email
            ></ion-input>
          </ion-item>
          <div class="validation-hint">
            <small
              class="message"
              *ngIf="signupForm.controls['email']?.errors && signupForm.controls['email']?.dirty"
            >
              Email Address is invalid <br />
            </small>
          </div>
        </ion-col>
        <!-- <ion-col size="12"> -->
        <ion-button [disabled]="!signupForm.valid" (click)="forgotpass()"
          >Send</ion-button
        >
        <!-- </ion-col> -->
      </ion-row>
    </form>
  </div>
</ion-content>
