<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Identify</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form class="ion-text-center">
        <!-- <h3 class="ion-text-left">Enter Licensed Number Plate</h3>
        <ion-input type="text"></ion-input> -->
        <h3 class="ion-text-left">Enter Licensed Number Plate</h3>

        <ion-item lines="none" class="ion-text-center">
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-button (click)="move()">Identify</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
