<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Official</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Firstname</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Lastname</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Date of birth</ion-label>
          <ion-input type="Date"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="floating">Phone number</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button>ADD OFFICIAL</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
