ion-header {
  --ion-background-color: #711bd4;

  ion-menu-button {
    --color: #ffffff !important;
  }
}

ion-content {
  --ion-background-color: #ffffff !important;
}

ion-item {
  margin-top: 10px;
  --ion-background-color: #f8f7ff !important;
}

ion-button {
  margin: 20px;
  --background: #711bd4;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff !important;
}
