ion-header {
  --ion-background-color: #711bd4;

  ion-back-button,
  ion-menu-button {
    --color: #ffffff !important;
  }
}

ion-content {
  --ion-background-color: #ffffff !important;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff !important;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px -50px;
  position: absolute;
  top: 2%;
  left: 50%;
  border: 1px solid #711bd4;
}

.icon-box {
  border: solid 2px #ffffff;
  background: #ffffff;
  color: #711bd4;
  padding: 5px;
  border-radius: 50%;
  position: relative;
  top: 0%;
  left: 55%;
  height: 30px;
  width: 30px;
}

h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  padding-bottom: 30px;
  span {
    float: right;
    font-weight: bold;
    font-size: 15px;
  }
}

.cover {
  background-color: #711bd4;
  height: 150px;
  // width: 428px;
  margin-top: -50px;
  margin-left: -30px;
  margin-right: -30px;
  transform: rotate(-8deg);
  position: relative;
}
