<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="cover"></div>
  <div>
    <img
      slot="end"
      [src]="profile_image"
      class="avatar"
      onError="this.src='assets/avatar.png';"
    />
    <div class="icon-box" (click)="came()">
      <ion-icon name="camera"></ion-icon>
    </div>

    <ion-row>
      <ion-col size="12">
        <h3 class="ion-text-center">Social Links</h3>
        <p>
          facebook_url
          <span>{{details?.facebook_url ? details?.facebook_url : '---'}}</span>
        </p>
        <p>
          instagram_url
          <span
            >{{details?.instagram_url ? details?.instagram_url: '---'}}</span
          >
        </p>
        <p>
          snapchat id
          <span>{{details?.snapchat_id ? details?.instagram_url: '---'}}</span>
        </p>
        <p>
          occupation
          <span>{{details?.occupation ? details?.occupation: '---'}}</span>
        </p>
      </ion-col>
    </ion-row>

    <ion-button class="btn btn-primary" (click)="logout()"
      ><ion-icon name="exit" slot="start"></ion-icon>logout</ion-button
    >
  </div>
</ion-content>
