ion-header {
  --ion-background-color: #e1d4e4;

  ion-title {
    color: #ffffffff;
  }

  ion-menu-button {
    --color: #711bd4;
  }
}
ion-content {
  --ion-background-color: #f2edf2;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 5.5%;
  height: 250px;
  background-color: #e1d4e4;

  strong {
    font-size: 20px;
    line-height: 26px;
  }

  a {
    text-decoration: none;
  }

  #display {
    margin-top: 35px;
    background: #e1d4e4 !important;
    // background: #f3edf4 !important;
    z-index: 10;

    p {
      font-size: 20px;
      line-height: 22px;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      font-weight: 800;
      color: #711bd4;
    }
  }
}

ion-card {
  // margin-top: 1px;
  height: 170px;
  border-radius: 15px;
  box-shadow: none;
  border: 1px solid #e1d4e4;

  p {
    color: orange;
    font-size: 15px;
    font-weight: 600;
    padding-top: 25px;
  }
}

h3 {
  padding-top: 43px;
  padding-bottom: 8px;
  font-weight: 800;
  color: #711bd4;
}

ion-text {
  font-size: 20px;
  font-weight: 800;
}

ion-icon {
  height: 50px;
  width: 50px;
  padding-top: 25px;
  color: #711bd4;
  font-weight: 800;
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #711bd4;
}
