<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <img
      slot="end"
      [src]="profile_image"
      class="avatar"
      onError="this.src='assets/avatar.png';"
      (click)="goToPage('profile')"
    />
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <div id="container">
    <ion-card class="ion-text-left" id="display">
      <ion-card-content>
        <p class="ion-padding-top">Howdy</p>
        <h2 class="ion-padding-top ion-text-capitalize">
          {{firstname}} {{lastname}}
        </h2>
        <p class="ion-padding-top ion-text-capitalize">{{membership}}</p>
      </ion-card-content>
    </ion-card>

    <h3 class="ion-padding ion-text-left">Quick Links</h3>

    <ion-grid>
      <ion-row class="link">
        <ion-col size="6" class="ion-no-padding">
          <ion-card (click)="goToPage('add-official')">
            <ion-card-content>
              <ion-icon name="person-add-sharp"></ion-icon>
              <p>Add Official</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-card (click)="goToPage('add-vehicle')">
            <ion-card-content>
              <ion-icon name="car-sport-sharp"></ion-icon>
              <p>Add Vehicle</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-card (click)="goToPage('identify')">
            <ion-card-content>
              <ion-icon name="search-sharp"></ion-icon>
              <p>Identify</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
          <ion-card (click)="goToPage('scan')">
            <ion-card-content>
              <ion-icon name="qr-code-sharp"></ion-icon>
              <p>Scan</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> -->

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Howdy</p>
    <h2>{{firstname}} {{lastname}}</h2>
    <p>{{membership}}</p>
  </div>
  <h3 class="ion-padding ion-text-left">Quick Links</h3>
  <div class="card" mode="md">
    <ion-row>
      <ion-col size="6">
        <div class="deep" (click)="goToPage('add-official')">
          <ion-icon name="person-add-sharp"></ion-icon>
          <p>Add Official</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="deep" (click)="goToPage('add-vehicle')">
          <ion-icon name="car-sport-sharp"></ion-icon>
          <p>Add Vehicle</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="deep" (click)="goToPage('identify')">
          <ion-icon name="search-sharp"></ion-icon>
          <p>Identify</p>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="deep" (click)="goToPage('scan')">
          <ion-icon name="qr-code-sharp"></ion-icon>
          <p>Scan</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
