<ion-content>
  <div class="ion-text-center">
    <img
      src="https://i.pinimg.com/originals/87/32/65/873265ffb0314c0fe301fbd7f6379b30.png"
    />
    <h3>create new password</h3>

    <form class="ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">New Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Confirm Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col size="12"> -->
        <ion-button (click)="goToPage('login')">Save</ion-button>
        <!-- </ion-col> -->
      </ion-row>
    </form>
  </div>
</ion-content>
